html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #f3ece0;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

#calendar {
  width: 90vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  /* center */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  position: relative;
}

.bg {
  opacity: 0.0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.fc-event-time {
    box-sizing: border-box;
}

#fc-dom-1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}
